/*style.css*/
 :root {
            --bg: rgb(0, 0, 0);
            --main: #fff;
            --accent: #2563eb;
            --danger: #dc2626;
            --muted: #6b7280;
            --radius: 10px;
            --max-width: 550px;
            font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            background: linear-gradient(180deg, #535353 0%, var(--bg) 40%);
            color: #0f172a;
            background-color: rgb(97, 97, 97);
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            overflow-y: hidden;
        }

.main {
            background: var(--main);
            width: 100%;
            max-width: var(--max-width);
            border-radius: var(--radius);
            box-shadow: 0 6px 30px rgba(15, 23, 42, 0.08);
            padding: 28px;
            box-sizing: border-box;
        }
         .wrap {
            margin-top:10%;
            display: grid;
            place-items: center;
            padding: 2px;
        }

h1 {
    color: #92c83e;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #92c83e;
    width: 100%;
    font-size: 16px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}